<main id="dataToExport" #dataToExport>
  <img class="distancialogo" src="logo.jpeg" *ngIf="imprimir" style="max-width: 100%;">
    <h1>Ordem de Serviço</h1>
    <div class="info-table">
      <div *ngIf="isEditando" class="row marginzero">
        <div class="label padzero">Unidade Solicitante:</div>
        <div class="input padzero"><input  [(ngModel)]="os.unidadeSolicitante" type="text" id="unidadeSolicitante"></div>
      </div>
      <div class="row marginzero">
        <div class="label padzero">Ação Educacional:</div>
        <div class="input padzero"><input [(ngModel)]="os.tituloEvento" type="text" id="tituloEvento"></div>
      </div>
      <div class="row half-row marginzero">
        <div class="label">Data de Início:</div>
        <div class="input"><input [(ngModel)]="os.dataInicio" type="date" id="dataInicio"></div>
        <div class="label">Data de Finalização:</div>
        <div class="input"><input [(ngModel)]="os.dataFim" type="date" id="dataFinalizacao"></div>
      </div>
      <div class="row half-row marginzero">
        <div class="label">Horário de Início:</div>
        <div class="input"><input [(ngModel)]="os.horaInicio" type="time" id="horarioInicio"></div>
        <div class="label">Horário de Término:</div>
        <div class="input"><input [(ngModel)]="os.horaFim" type="time" id="horarioTermino"></div>
      </div>
      <div *ngIf="isEditando" class="row marginzero">
        <div class="label">Quantidade de Participantes:</div>
        <div class="input"><input [(ngModel)]="os.quantidadeParticipantes" type="number" id="quantidadeParticipantes"></div>
      </div>
      <div *ngIf="isEditando" class="row marginzero">
        <div class="label">Carga Horária:</div>
        <div class="input"><input [(ngModel)]="os.cargaHoraria" type="number" id="cargaHoraria"></div>
      </div>
      <div class="row">
        <div class="label">Modalidade:</div>
        <div class="input">
          <select [(ngModel)]="os.modalidade" id="modalidade">
            <option value="presencial">Presencial</option>
            <option value="online">Online</option>
            <option value="hibrido">Híbrido</option>
            <option value="ead">EAD</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="label">Demanda:</div>
        <div class="input">
          <select [(ngModel)]="os.demanda" id="demanda">
            <option value="interna">Interna</option>
            <option value="externa">Externa</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="label">Coordenador Geral:</div>
        <div class="input"><input [(ngModel)]="os.coordenadorGeral" type="text" id="coordenadorGeral" value="Marcos" ></div>
      </div>
      <div class="row">
        <div class="label">Coordenadoria de Apoio Institucional:</div>
        <div class="input"><input [(ngModel)]="os.coordenadorApoioInstitucional" type="text" id="coordenadoriaApoioInstitucional" value="Carlos" ></div>
      </div>
      <div class="row">
        <div class="label">Coordenadoria de Capacitação:</div>
        <div class="input">
          <select [(ngModel)]="os.coordenadorAcaoCapacitacao" id="coordenadoriaCapacitacao">
            <option value="marina">Marina</option>
            <option value="clenildes">Clenildes</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="label">Coordenação de Apoio da Ação:</div>
        <div class="input"><input [(ngModel)]="os.coordenacaoApoioAcao" type="text" id="coordenacaoApoioAcao"></div>
      </div>
      <div class="row">
        <div class="label">Coordenação de Apoio Operacional:</div>
        <div class="input"><input [(ngModel)]="os.coordenacaoApoioOperacional" type="text" id="coordenacaoApoioOperacional"></div>
      </div>
      <div class="row" [ngClass]="imprimir ? 'espacoImprimir' : ''">
        <div class="label">Equipe Técnica:</div>
        <div class="input">
          <label><input [(ngModel)]="os.equipeTecnica" type="checkbox" id="equipeTecnica1"> Criar link</label>
          <label><input [(ngModel)]="os.equipeTecnica2" type="checkbox" id="equipeTecnica2"> Elaborar e encaminhar avaliação</label>
          <label><input [(ngModel)]="os.equipeTecnica3" type="checkbox" id="equipeTecnica3"> Emitir Certificado</label>
          <label><input [(ngModel)]="os.equipeTecnica4" type="checkbox" id="equipeTecnica4"> Emitir Relatório Final</label>
        </div>
      </div>
      <div class="row">
        <div class="label">Equipe Jurídica:</div>
        <div class="input"><input [(ngModel)]="os.equipeJuridica" type="text" id="equipeJuridica"></div>
      </div>
      <div class="row">
        <div class="label">Observação:</div>
        <div class="input"><textarea [(ngModel)]="os.observacao" id="observacao" rows="4"></textarea></div>
      </div>
      <div class="row">
        <div class="label">Ordem de Serviço elaborada por:</div>
        <div class="input"><input [(ngModel)]="os.osElaboradaPor" type="text" id="ordemServicoPor"></div>
      </div>
      <div class="row">
        <div class="label">Local:</div>
        <div class="input"><input [(ngModel)]="os.local" type="text" id="local"></div>
      </div>
      <div class="row">
        <div class="label">Público-alvo:</div>
        <div class="input"><input [(ngModel)]="os.publicoAlvo" type="text" id="publicoAlvo"></div>
      </div>
    </div>
    <div class="modal-buttons">
      <button class="btn btn-primary" *ngIf="!imprimir" (click)="salvarRelatorio()">Gerar Relatório</button>
      <button class="btn btn-primary" *ngIf="!imprimir" (click)="confirmAddCourse()">Confirmar</button>
      <button class="btn btn-danger" *ngIf="!imprimir" (click)=" fechar()">Cancelar</button>
    </div>
  </main>
  